@import '../../Slider/common/commonStyles';

.carousel {
  position: relative;
}
.buttonsBlock {
  position: absolute;
  margin: auto;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  bottom: 140px;
}
.button {
  border-radius: 10px;
  opacity: 0.3;
  &:hover {
    opacity: 1;
  }
}
.playBlock {
  @include flexCenter();
}
