@import '../Slider/common/commonStyles';

.contentContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: max-content;
  margin: 0;
  background-color: $darkGrey;
  color: $white;
  text-shadow: 1px 1px 1px $black;
  font-family: Arial, Helvetica, sans-serif;
}
